header{
    height: 70%;
    width: 98%;
background-image: url("back8.jpg");
}
input{
    width: 100%;
}
textarea{
    height: 200px;
    width: 100%
}
form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url("background-3.jpg");
}