div{
    border: 1px solid rgb(143, 140, 140);
}

body{
    direction: rtl;
}
#parent{
    width: 98%;
    margin: auto;
    border: none;
}
#header {
    height: 100px;
    margin-top: 15px;
    background-color:;
    background-image: url("video.jpg");

}

#subheader {
    height: 8%;
    margin-top: 2px;
    background-color:white;
    border: none

}
#sidebar{
    height: 400px;
    width:0.1%;
    float: right;
    margin-top: 8px;
    margin-left: 8px;
    border: none; 
}

#content{
    height: 400px;
    width: 78%;
    float: left;
    margin-top: 8px;
    background-image: url("world.jpg");
    border: none
}

#footer{
    width: 99.7%;
    height: 150px;
    float: right;
    margin-top: 8px;
    margin-bottom: 15px;
   background-image: url("back8.jpg");
   border:none
   }
.subfooter{
    height: 153px;
    width: 32.5%;
    float: right;
    margin-left: 8px; 
    background-image: url("outside.jpg");
    border-style: groove;
}
